.section_commande_identification {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    
    margin: 10px 20px;
}

.section_commande_etape {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    
    /* margin: 10px 20px; */
}

.commande_block_panier {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    /* min-width: 400px; */
}

.commande_block_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 20px 5px;
   
}

.message_error_block {
    margin: 10px 0;
    background-color: rgb(226, 140, 140);
    width: 90%;
    padding: 5px;
}

.message_error {
    margin-bottom: 10px;
}

@media screen and (max-width: 840px) {
    .section_commande_identification {
       align-items: center;
       flex-direction: column;
    }
    .commande_block_form {
        width: 90%;
        
       
    }
}