.section_commande_recapupitulatif {
    width: 95%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    
    background-color: var(--color-white);
    border-radius: 30px;
    margin: 20px;
    padding: 20px 20px;
}

.commande_block_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 10px;
   
}

.commande_block_produits {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    /* min-width: 400px; */
}

.div_commande {
    width: 100%;
    display: flex;

}

.div_commande > p {
    width: 50%;
    padding: 5px 10px;
}

.div_commande_adresse {
    width: 100%;
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 840px) {
    .section_commande_recapupitulatif {
       align-items: center;
       flex-direction: column;
    }
}