/* .formulair_identif {
    width: 100%;
    max-width: 400px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.titre_formulair_identif {
    width: 100%;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-style:none;
    background-color: var(--color-gris);
    padding: 5px;
    margin: 5px;
}

.inp_formulair_identif {
    width: 100%;
    height: 40px;
    border-style:solid;
    border-color: var(--color-yellow);
    padding: 5px;
    margin: 5px;
} */

