
.loto {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.loto_body {
    width: 450px;
    height: 150px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.loto_item {
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.loto_item:nth-child(2) {
    border-left: 1px solid;
    border-right:1px solid;
    width: 33%;
    padding-right: 10px;
    padding-left: 10px;
}

.dnone {
    display: none;
}

@media screen and (max-width: 500px) {
    .loto_body {
        width: 300px;
        height: 100px;
    }

    .loto_item:nth-child(2) {
       padding-right: 5px;
    padding-left: 5px;
    }
}