:root {
  --color-text-main: rgba(0, 0, 0, 1);
  --color-text-bann:rgb(93, 64, 157);
  --color-gris: rgb(246, 243, 243);
  --color-white: rgba(255, 255, 255, 0.8);
  --color-white-fh: white;
  --font-family-pd: "Playfair Display";
  --font-family-int: "Inter";
  --color-bgd: rgba(255, 240, 189, 1);
  --color-yellow:rgb(228, 169, 81);
}

* {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-image: url(/public/imgs/general/bgd.png);
  background-color: var(--color-bgd);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}



.wrapper {
  display: grid;
  
  grid-template-rows: max-content 1fr max-content;
  /* width: 100vw; */
  overflow-x: hidden;
  min-height: 100vh;
 
}

main {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* overflow-x: hidden; */
}

/* header */
header {
  height: 120px;
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-white);
  /* margin-bottom: 20px; */
}

.logo > img {
  width: 140px;
  height: 100px;
}

/* header phone */
.nav_right_phone, .nav_left_phone {
  display: none;
}

/* burger menu */
.burger_menu {
  display: none;
  cursor: pointer;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
}

.drop_menu {
  display: none;

  /* display: flex; */
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center; */
  position: absolute;
  left: 0;
  top: -300px;
  /* width: 320px; */
  width: 100%;
  /* min-height: 240px; */
  /* height: 600px; */
  /* height: calc(100vh - 60px); */
  
  /* height: max-content; */
  /* overflow: auto; */
  background-color: var(--color-gris);
  z-index: -5;
  transition: top 1s;
}

.drop_menu_active {
  top: 60px;
  transition: top 1s;
  z-index: -5;
 height: calc(100vh - 60px);
  overflow: auto;
  background-color: rgb(255, 255, 255, 0.5);
}

.burger_ligne {
  transition: transform 1s, opacity 1s;
  transform: rotate(0deg);
  opacity: 1;

  width: 40px;
  height: 2px;
  background-color: var(--color-text-main);
}

.burger_ligne_active {
  transition: transform 1s;
  transform: rotate(45deg);
}
.burger_ligne_activem {
  transition: transform 1s;
  transform: rotate(-90deg);
}

.dhidden {
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 1s;
}

.pd64w700 {
  font-size: 64px;
  font-weight: 700;
  font-family: var(--font-family-pd);
  color: var(--color-text-bann);
}

.pd40w700b {
  font-size: 40px;
  font-weight: 700;
  font-family: var(--font-family-pd);
  color: var(--color-text-bann);
}


.pd24w600 {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-family-pd);
  color: var(--color-text-main);
}

.pd20w400 {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-family-pd);
  color: var(--color-text-main);
}

.pd40w700 {
  font-size: 40px;
  font-weight: 700;
  font-family: var(--font-family-pd);
  color: var(--color-text-main);
}

.int14w200 {
  font-size: 14px;
  font-weight: 200;
  font-family: var(--font-family-int);
  color: var(--color-text-main);
}

.int20w400 {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-family-int);
  color: var(--color-text-main);
}

.int20w500 {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-family-int);
  color: var(--color-text-main);
}

.int24w500 {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--font-family-int);
  color: var(--color-text-main);
}

.int14w500 {
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-family-int);
  color: var(--color-text-main);
}

.marg20 {
  margin-right: 20px;
  margin-left: 20px;
}

.marg5 {
  margin-right: 1%;
  margin-left: 1%;
}

.marg5bot {
  margin-bottom: 5px;
}

/* .cursorscall20 {
  cursor: pointer;
  transform: scale(1.2);
} */

.cursorscall20:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bordligne {
  border-style: dashed;
  border-width: 2px;
  list-style: none;
}


.itemdrop {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--color-text-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--color-white); */
  background-color:  var(--color-gris);
  padding: 10px 20px;
  cursor: pointer;
}

.itemdrop:hover {
  background-color: aquamarine;
}
/* footer */

footer {
  /* height: 120px; */
  /* height:fit-content; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  margin-top: 20px;
  justify-content: space-around;
  align-items: flex-start;
  background-color: var(--color-white);
}

footer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 300px;
  min-width: 100px;
  /* width: 250px; */
  min-height: 120px;
}

.logo_footer > img {
  width: 60px;
  height: 40px;
}

/* carte */

.carte {
  width: 290px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.64);
 
}

.carte > a {
  display: block;
  width: 100%;
  /* height: 100%; */
}

section {
  z-index: 2;
}

.carte:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.64);
}

.img_carte {
  width: 100%;
  /* width: 290px; */
  /* height: 280px; */
  height: 260px;
  border-radius: 20px;
}

.title_carte {
  margin: 5px 30px;
}

.footer_carte {
  margin: 5px 15px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_ajouter {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--color-white);
  border: 0px;
  cursor: pointer;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.64), -5px -5px 4px rgba(0, 0, 0, 0.64);
}

.btn_grand {
  width: 220px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--color-white);
  border: 0px;
  cursor: pointer;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.64), -5px -5px 4px rgba(0, 0, 0, 0.64);
  margin: 10px auto;
  
}

.btn_ajouter:hover,
.btn_grand:hover {
  box-shadow: inset 5px 5px 4px rgba(0, 0, 0, 0.64),
    inset -5px -5px 4px rgba(0, 0, 0, 0.64);
}

/* populaire_section */

.populaire_section {
 /* max-width: 1300px; */
 width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block_carte {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.populaire_carte {
  width: 95%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.marg20top {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* notre livraison */



.itemdrop_menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-text-main);
  /* justify-content: space-between; */
}






/* filtre produit */

.item_filtre {
  width: 100%;
}

.itemdrop1 {
  width: 100%;
  height: 60px;
  /* border-bottom: 1px solid var(--color-text-main); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  background-color: var(--color-gris);
  padding: 10px 40px;
  cursor: pointer;
}

.itemdrop1:hover {
  background-color: var(--color-bgd);
}

.itemdrop2 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  /* background-color: var(--color-white); */
  background-color: var(--color-gris);
  padding: 5px 40px;
  cursor: pointer;
}



.itemPrix {
  width: 100%;
  height: 60px;
  /* border-bottom: 1px solid var(--color-text-main); */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gris);
  padding: 10px 20px;
}

#prix {
  width: 90%;
  margin-right: 10px;
  cursor: pointer;
}

.btn_filtre{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gris);
}

.dnone {
  display: none;
}

.icon_triangle {
  transform: rotate(180deg);
}

/*      list livraison         */

.notrelivraison {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top:120px;
  width: 320px;
  right: -350px;
  background: var(--color-gris);
  transition: right 1s;
  /* display: none; */
}

.notrelivraison_active {
  width: 320px;
  right: 0;
  transition: right 1s;
 /* display: none; */
}

.style_item_list {
  padding: 5px 15px;
}




.search_ville {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: var(--color-white-fh);
  border-radius: 15px;
  border: none;
  padding: 0 10px;
  color: var(--color-text-main);
}

.search_icon {
  position: absolute;
  right: 20px;
}

.item_ville {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--color-text-main);
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  padding: 10px 20px;
  cursor:text;
  /* display: none; */
}

/*      panier        */

.panier {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top:120px;
  width: 320px;
  right: -350px;
  background: var(--color-gris);
  transition: right 1s;
  /* display: none; */
}

.panier_active {
  /* width: 320px; */
  right: 0;
  transition: right 1s;
 /* display: none; */
}

.panier_commande {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute;
  top:120px; */
  width: 320px;
  /* right: -350px; */
  background: var(--color-gris);
  /* transition: right 1s; */
  /* display: none; */
}

.panier_list {
  width: 100%;
}

.item_panier {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid var(--color-text-main);
}

.item_panier_body {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.item_panier_body > img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.panier_details {
  height: 100px;
  /* width: 160px; */
}

.panier_countre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panier_countre > span {
  margin: 20px 30px;
}

.panier_prix_unit {
  text-align: center;
}

.panier_prix_total {
  text-align: end;
}

.panierTotale {
  width: 100%;
  border-bottom: 1px solid var(--color-text-main);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  
}

.btnPanierCommander {
  width: 100%;
  height: 60px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--color-text-main);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  var(--color-gris);
  padding: 10px 20px;
  cursor: pointer;
}



.btnPanierCommander:hover {
  background-color: aquamarine;
}

/*                   nav seconde                   */
.nav_seconde {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  z-index: 5;
  align-self: flex-start;
  background-color: var(--color-gris);
  border: none;
  color: var(--color-text-main);
}

.filtreProduitNavSeconde {

  position: relative;
  border: none;
  min-width: 320px;
}

.filtreProduit {
  background: var(--color-gris);
  /* border-bottom: none; */
   /* z-index: 5; */
}

/* .filtreProduit:hover {
  background: rgba(255, 255, 255, 0.5);
} */

.nav_seconde_filtre {
  position: absolute;
  top: 58px;
  min-width: 320px;
  background-color: var(--color-gris);
  border: none;
  z-index: -5;
  /* width: 100px;
  height: 100px; */
}

.nav_categorie {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}



/*             Details               */

.details {
  width: 95%;
  height: 100%;
  /* height: 600px; */
  /* height: fit-content;  */
  /* max-height: 800px;   */
  display: flex;
  /* height: fit-content; */
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  
}

.details_produit {
  
 max-width:500px;
 width: 50%;
  height: 100%;
  /* height: fit-content; */
  min-height: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-white);
  border-radius: 30px;
  margin-left: 10px;
}

.list_details {
  align-self: flex-start;
  margin-left: 20%;
}

.description_details {
  width: 80%;
}

/*              Carusel               */


.carusel {
 max-width: 500px;
 width: 50%;
 min-height: 470px;
 height: 100%;
 /* flex-basis: 0; */
  position: relative;
 
  display: flex;
  /* display: inline-block; */
  /* flex-direction: row;
  flex-wrap: wrap; */
  /* overflow: hidden; */
 border-radius: 30px;
 margin-right: 10px;
}

.div_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  /* flex-wrap: nowrap; */
  flex-shrink: 0;
}

.list_carusel  {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* flex-wrap: wrap; */
  
  overflow: hidden;
 border-radius: 30px;
  width: 100%;
  height: 100%;
}

.div_img >img {
 width: 100%;
  height: 100%;
}

.chevron_right {
  position: absolute;
  right: 0;
  top: calc((100% - 76px)/2) ;
  background-color: var(--color-white);
  border-radius: 20px;
}

.chevron_left {
  position: absolute;
  left: 0;
  top: calc((100% - 76px)/2) ;
  background-color: var(--color-white);
  border-radius: 20px;
}


/* Banniere  */

.banniere {
  position: relative;
  width: 100%;
  /* max-height: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.img_banniere {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.text_banniere {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-white);
  border-radius: 30px;
  padding: 5px;
}




@media screen and (max-width: 840px) and (min-width: 400px){
  .nav_left,
  .idAccount,
  .nav_seconde{
    display: none;
  }

  header {
    position:fixed;
    height: 60px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-between;
  }

  main {
    margin-top: 60px;
  }

  .logo > img {
    width: 60px;
    height: 45px;
  }

  .nav_right, .nav_left_phone {
    display: flex;
    align-items: center;
  }

  .nav_right >img {
    margin-right: 15px;
    margin-left: 15px;
  }

  .nav_right > img,
  .nav_right > a {
    width: 50px;
    height: 50px;
  }

  .nav_left_phone img,
  .nav_left_phone > a {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-left: 10px;
  }

  .burger_menu {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .drop_menu {
    display: flex;
  }

  .notrelivraison {
    top:60px;
  }

  .details {
    /* width: 95%; */
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .details_produit, .carusel {
    width: 100%;
  }

  .details_produit {
  
     /* height: max-content; */
     
     height: fit-content;
      margin-top: 10px;
     margin-left: 0;
   }

  .carusel {
    height: 470px;
    margin-right: 0;
  }
}




@media screen and (max-width: 653px) and (min-width: 449px) {
  .carte {
    width: 185px;
    height: 220px;
    border-radius: 10px;
    
  }

  .marg5 {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .img_carte {
   
    height: 140px;
    border-radius: 10px;
  }
  
  .title_carte {
    margin: 0px 5px;
  }
  
  .footer_carte {
    margin: 5px 10px 10px 10px;
    
  }
  
  .btn_ajouter {
    width: 60px;
    height: 20px;
    border-radius: 10px;
    
  }

  .text_banniere {
    width: 75%;
  }

  .pd24w600 {
    font-size: 16px;
    font-weight: 700;
  }

  .pd64w700 {
    font-size: 32px;
    font-weight: 700;
  }

  .pd40w700b {
    font-size: 20px;
    font-weight: 600;
  }


  
  .pd40w700 {
    font-size: 20px;
    font-weight: 600;
  }
  
  .pd20w400 {
    font-size: 14px;
    font-weight: 200;
  } 
  
  .int20w400 {
    font-size: 14px;
    font-weight: 400;
  }

  .marg20top {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  footer {
    margin-top: 10px;
    
  }
  

}

@media screen and (max-width: 449px) {
  
 
  .populaire_carte {
    width: 100%;
  }
  .carte {
    width: 140px;
    height: 180px;
    border-radius: 10px;
  }
  
  .img_carte {
   
    height: 110px;
    border-radius: 10px;
  }
  
  .title_carte {
    margin: 0px 5px;
  }
  
  .footer_carte {
    margin: 5px 10px 10px 10px;
    
  }
  
  .btn_ajouter {
   width: 60px;
    height: 20px;
    border-radius: 10px;
    
  }

  .text_banniere {
    width: 95%;
  }

  .pd24w600 {
    font-size: 16px;
    font-weight: 700;
   
  }

  .pd64w700 {
    font-size: 32px;
    font-weight: 700;
  }

  .pd40w700b {
    font-size: 20px;
    font-weight: 600;
  }
  
  .pd40w700 {
    font-size: 20px;
    font-weight: 600;
    
  }
  
  .pd20w400 {
    font-size: 14px;
    font-weight: 200;
    
  } 
  
  .int20w400 {
    font-size: 14px;
    font-weight: 400;
   
  }
  .marg20top {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .marg5 {
    margin-right: 5px;
    margin-left: 5px;
  }

  footer {
    margin-top: 10px;
    
  }
}

@media screen and (max-width: 400px) {
  .nav_left,
  .idAccount,
  .nav_seconde {
    display: none;
  }

  header {
    position:fixed;
    height: 60px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-between;
  }



  main {
    margin-top: 60px;
  }

  

  .logo > img {
    width: 60px;
    height: 45px;
  }

  .nav_right, .nav_left_phone {
    display: flex;
    align-items: center;
  }

  .nav_right >img {
    margin-right: 5px;
    margin-left: 5px;
  }

  .nav_right > img,
  .nav_right > a {
    width: 50px;
    height: 50px;
  }

  .nav_left_phone img,
  .nav_left_phone > a {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .burger_menu {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .drop_menu {
    display: flex;
  }

  .notrelivraison {
    top:60px;
  }
  .details {
    /* width: 95%; */
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .details_produit, .carusel {
    width: 100%;
  }

  .details_produit {
  
     /* height: max-content; */
     
     height: fit-content;
      margin-top: 10px;
     margin-left: 0;
   }

  .carusel {
    min-height: 350px;
    margin-right: 0;
  }
  
}
